<!DOCTYPE html><html lang="en"><head>
  <meta charset="utf-8">
  <title>MyProject</title>
  <base href="/static/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<style>html,body{height:100%}body{margin:0;font-family:"Playfair Display",serif}</style><link rel="stylesheet" href="styles.f1e12feb79c7d695.css" media="print" onload="this.media='all'"><noscript><link rel="stylesheet" href="styles.f1e12feb79c7d695.css"></noscript></head>
<body>

  <app-root></app-root>
<script src="runtime.d4b0d19638056a0b.js" type="module"></script><script src="polyfills.4f9b7981b8eb1ca3.js" type="module"></script><script src="main.a3624bfea1c09b82.js" type="module"></script>

</body></html>